/* ******** Mapa *********** */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.red-instagram {
  margin-left: 20px;
}

.red-facebook {
  margin-left: 30px;
}

.red-youtube {
  margin-left: 40px;
}

/* ****** Mixin ****** */
/* ***** Extend ***** */
main h2, .servicio div h3 {
  text-align: center;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  text-transform: uppercase;
  color: #006666;
  text-shadow: 0 8px 9px #48a3a3, 0px -2px 1px #fff;
  font-weight: bold;
}

/* ***** Media Querie ***** */
@media screen and (max-width: 1600px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header h1 {
    margin-left: 0;
  }
  nav ul {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1030px) {
  nav ul li {
    margin: 0 5px 0 5px;
  }
  .listaContacto form {
    height: 500px;
    width: 600px;
  }
  textarea {
    width: 550px;
    margin: 0 20px 0 20px;
  }
  .portada img {
    max-height: 30vh;
  }
}

@media screen and (max-width: 806px) {
  .listaContacto form {
    height: 550px;
    width: 400px;
  }
  textarea {
    width: 350px;
    margin: 0 20px 0 20px;
  }
  .justify-content-end {
    margin-right: 0px;
  }
  .nav-link {
    padding: 8px 5px 8px 5px;
    font-size: medium;
  }
  .contacto {
    height: 800px;
  }
}

@media screen and (max-width: 600px) {
  .portada img {
    max-height: 20vh;
  }
  footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer div {
    margin: 5px 0 10px 0;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: #E9E9E9;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  grid-area: main;
}

main h2 {
  font-size: 40px;
  letter-spacing: -4px;
  border-radius: 20px;
  margin-top: 10px;
}

/* ----- Header/Nav -----*/
header {
  background: #006666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: header;
  padding: 2px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 50px;
}

header nav ul li a {
  color: #F5F5F5;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 25px;
}

header nav ul li a:hover {
  color: #F5F5F5;
}

header h1 a {
  color: #F5F5F5;
  font-family: 'Lobster', cursive;
  font-size: 75px;
  text-decoration: none;
  margin-left: 30px;
}

header h1 a:hover {
  color: #F5F5F5;
}

.nav-link {
  color: #F5F5F5;
}

.nav-link:hover {
  color: #CCCCCC;
}

/* ----- Footer ----- */
footer {
  background: #CCCCCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-area: footer;
  padding: 5px;
}

/* ----- INDEX -----*/
.portada img {
  height: 50vh;
}

.portada h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  color: #F5F5F5;
}

.destacados > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.destacados > div div {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
}

.destacados > div figure img {
  width: 500px;
  height: 350px;
}

/* ----- PRODUCTOS -----*/
.productos > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productos > div div img {
  width: 500px;
  height: 350px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 9px 13px 8px -2px rgba(0, 102, 102, 0.97);
  -webkit-box-shadow: 9px 13px 8px -2px rgba(0, 102, 102, 0.97);
  -moz-box-shadow: 9px 13px 8px -2px rgba(0, 102, 102, 0.97);
}

/*----- CONTACTO -----*/
.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto button {
  background: #48a3a3;
}

.forms {
  border: 1px #006666 solid;
  border-radius: 5px;
  padding: 15px;
  width: 700px;
  margin-bottom: 100px;
  margin-top: 50px;
}

/* ----- NOSOTROS -----*/
.nosotros {
  height: 720px;
}

.nosotros div {
  text-align: center;
  margin-top: 70px;
  font-size: 20px;
}

/* ----- Servicio ----- */
.servicio {
  height: 720px;
  text-align: center;
}

.servicio div h3 {
  font-size: 30px;
  letter-spacing: 4px;
  border-radius: 20px;
  margin-top: 10px;
  padding: 50px;
}
/*# sourceMappingURL=styles.css.map */