/* ----- Header/Nav -----*/
header{
    background: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    padding: 2px;
    nav{
        ul{
            display: flex;
            list-style: none;
            margin-right: 50px;
            li{
                a{
                    color: $secundary4;
                    font-family: Arial, Helvetica, sans-serif;
                    text-decoration: none;
                    font-size: 25px;
                    &:hover{
                        color: $secundary4;
                    }
                }
            }
        }
    }
    h1{
        color: $secundary4;
        font-family:'Lobster', cursive;
        font-size: 75px;
    }
}
.nav-link{
    color: $secundary4;
    &:hover{
        color: $secundary2;
    }
}