/* ***** Media Querie ***** */
@media screen and (max-width: 1600px){
    header{
        display: flex;
        flex-direction: column;
    }
    header h1{
        margin-left: 0;
    }
    nav ul{
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1030px){
    nav ul li{
        margin: 0 5px 0 5px;
    }
    .listaContacto form{
        height: 500px;
        width: 600px;
    }
    textarea{
        width: 550px;
        margin: 0 20px 0 20px;
    }
    .portada{
        img{
            max-height: 30vh;
        }
    }
}
@media screen and (max-width: 806px){
    .listaContacto form{
        height: 550px;
        width: 400px;
    }
    textarea{
        width: 350px;
        margin: 0 20px 0 20px;
    }
    .justify-content-end{
        margin-right: 0px;
    }
    .nav-link{
        padding: 8px 5px 8px 5px;
        font-size: medium;
    }
    .contacto{
        height: 800px;
    }
} 
@media screen and (max-width: 600px){
    .portada{
        img{
            max-height: 20vh;
        }
    }
    footer{
        flex-wrap: wrap;
        div{
            margin: 5px 0 10px 0;
        }
    }
}