@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background: $secundary3;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    grid-area: main;
}
main h2{
        @extend %text-shadow;
        font-size: 40px;
        letter-spacing: -4px;
        margin-top: 5px;
        background-color: $secundary2;
}